<template>
  <q-carousel
    animated
    v-model="slide"
    navigation
    infinite
    :autoplay="autoplay"
    arrows
    transition-prev="slide-right"
    transition-next="slide-left"
    @mouseenter="autoplay = false"
    @mouseleave="autoplay = true"
    height="100%"
    style="min-height: 200px"
    class="rounded-borders"
  >
    <q-carousel-slide :name="1" img-src="/images/home/banner-1.jpg" />
    <q-carousel-slide :name="2" img-src="/images/home/banner-2.jpeg" />
    <q-carousel-slide :name="3" img-src="/images/home/banner-3.jpg" />
    <q-carousel-slide :name="4" img-src="/images/home/banner-4.jpg" />
  </q-carousel>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const slide = ref(1);
const autoplay = ref(true);
</script>

<style scoped></style>
