<template>
  <div class="page-container row q-col-gutter-lg">
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <div class="row q-col-gutter-lg" v-if="products && products.length === 2">
        <div
          v-for="product in products"
          :key="product.id"
          class="col-6 col-sm-12"
        >
          <ProductItem
            :id="product.id"
            :image="product.images[0].path"
            :name="product.name"
          />
        </div>
      </div>

      <ProductItemSkeleton v-else />
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-10">
      <Carousel />
    </div>
  </div>
</template>

<script lang="ts">
import { ref, onMounted } from 'vue';

import { IProductRes } from 'src/interfaces/responses/product';
import productService from 'src/services/product.service';
import routes from 'src/config/routes';
import Carousel from './Carousel.vue';
import ProductItem from './ProductItem.vue';
import ProductItemSkeleton from 'components/home/HeroBanner/ProductItemSkeleton.vue';

export default {
  name: 'HeroBanner',
  components: { ProductItemSkeleton, ProductItem, Carousel },
  setup() {
    const products = ref<IProductRes[]>([]);

    const getProducts = async () => {
      try {
        const res = await productService.getList({
          col: 'created_at',
          sort: 'DESC',
          limit: 2,
        });

        products.value = res.data;
      } catch (err) {}
    };

    onMounted(async () => {
      await getProducts();
    });

    return {
      products,
      routes,
    };
  },
};
</script>
