<template>
  <router-link
    :to="{
      name: routes.productDetail.name,
      params: { id: id },
    }"
  >
    <q-card flat style="max-width: 300px">
      <CImg :src="image">
        <div
          class="absolute-bottom text-subtitle2 text-center ellipsis-2-lines"
          style="padding: 6px"
        >
          {{ name }}
        </div>
      </CImg>
      <q-badge color="green" floating>New</q-badge>
    </q-card>
  </router-link>
</template>

<script setup lang="ts">
import CImg from 'components/common/CImg.vue';
import routes from 'src/config/routes';

defineProps({
  id: Number,
  name: String,
  image: String,
});
</script>

<style scoped></style>
