<template>
  <div class="row q-col-gutter-lg">
    <div v-for="index in 2" :key="index" class="col-6 col-sm-12 full-height">
      <q-card flat style="max-width: 300px">
        <q-skeleton square />

        <q-card-section>
          <q-skeleton type="text" class="text-subtitle1" />
          <q-skeleton type="text" class="text-subtitle1" />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>
