<template>
  <div class="flex">
    <CAvatar :src="userAvatar" size="44" />
    <div class="q-ml-sm">
      <p class="q-ma-none">{{ userName }}</p>
      <q-rating :model-value="rate" readonly />
      <p class="text-caption text-grey-5">
        {{ datetimeUtil.formatDate(createdAt) }}
      </p>
      <p>{{ comment }}</p>
      <div class="flex">
        <CImg
          v-for="(image, index) in feedbackImages"
          :key="index"
          :src="image"
          class="q-mr-sm"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import CImg from 'components/common/CImg.vue';
import CAvatar from 'components/common/CAvatar.vue';
import datetimeUtil from 'src/utils/date-time';
import { PropType } from 'vue';

defineProps({
  userAvatar: String,
  userName: String,
  rate: { type: Number, required: true },
  comment: String,
  createdAt: String,
  feedbackImages: {
    type: Array as PropType<string[]>,
    default: () => [],
  },
});
</script>

<style scoped></style>
