<template>
  <q-card flat class="q-mt-lg product-card">
    <q-card-section v-if="feedbacks.length === 0">
      <h6 class="q-my-sm text-capitalize">Chưa có đánh giá</h6>
    </q-card-section>
    <q-card-section v-else>
      <h6 class="q-my-sm text-capitalize">Đánh giá sản phẩm</h6>
      <q-card flat class="bg-green-1">
        <q-card-section class="row no-wrap">
          <div class="text-center" style="min-width: 120px">
            <div>
              <span class="text-subtitle1 text-green">{{ rate }}</span>
              <span class="text-body2">{{ ' ' }}trên 5</span>
            </div>
            <q-rating
              :model-value="Number(rate) || 0"
              size="1rem"
              color="positive"
              icon="star_border"
              icon-selected="star"
              icon-half="star_half"
              readonly
            />
          </div>
          <div class="row q-gutter-sm">
            <q-btn
              v-for="filter in feedbackFilters"
              :key="filter"
              unelevated
              color="positive"
              :outline="currentFilter !== filter"
              no-caps
              :disable="countHandler(filter) === 0"
              :label="labelHandler(filter)"
              @click="filterHandler(filter)"
            />
          </div>
        </q-card-section>
      </q-card>
      <div v-for="feedback in feedbacks" :key="feedback.id" class="q-mt-md">
        <FeedbackItem
          :user-name="feedback.user_name"
          :user-avatar="feedback.user_avatar"
          :rate="feedback.rate"
          :comment="feedback.comment"
          :created-at="feedback.created_at"
          :feedback-images="feedback.images?.map((img) => img.path)"
        />
        <q-separator class="q-my-md" />
      </div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { IProductFeedbackRes } from 'src/interfaces/responses/feedback';
import FeedbackItem from 'components/products/FeedbackItem.vue';

type FeedbackFilter =
  | 'all'
  | 'rate5'
  | 'rate4'
  | 'rate3'
  | 'rate2'
  | 'rate1'
  | 'withComment'
  | 'withImg';

const feedbackFilters: FeedbackFilter[] = [
  'all',
  'rate5',
  'rate4',
  'rate3',
  'rate2',
  'rate1',
  'withComment',
  'withImg',
];

export default defineComponent({
  name: 'FeedbackCard',
  components: { FeedbackItem },
  props: {
    rate: String,
    feedbacks: {
      required: true,
      default: () => [],
      type: Array as () => Array<IProductFeedbackRes>,
    },
  },
  setup(props) {
    const filteredFeedbacks = ref(props.feedbacks);
    const currentFilter = ref('all' as FeedbackFilter);

    const filters = {
      all: {
        type: 'all',
        label: 'Tất cả',
        callback: () => true,
      },
      rate5: {
        type: 'rate5',
        label: '5 sao',
        callback: (feedback: IProductFeedbackRes) => feedback.rate === 5,
      },
      rate4: {
        type: 'rate4',
        label: '4 sao',
        callback: (feedback: IProductFeedbackRes) => feedback.rate === 4,
      },
      rate3: {
        type: 'rate3',
        label: '3 sao',
        callback: (feedback: IProductFeedbackRes) => feedback.rate === 3,
      },
      rate2: {
        type: 'rate2',
        label: '2 sao',
        callback: (feedback: IProductFeedbackRes) => feedback.rate === 2,
      },
      rate1: {
        type: 'rate1',
        label: '1 sao',
        callback: (feedback: IProductFeedbackRes) => feedback.rate === 1,
      },
      withComment: {
        type: 'withComment',
        label: 'Có bình luận',
        callback: (feedback: IProductFeedbackRes) => feedback.comment,
      },
      withImg: {
        type: 'withImg',
        label: 'Có hình ảnh',
        callback: (feedback: IProductFeedbackRes) => feedback.images.length > 0,
      },
    };

    const countHandler = (filter: FeedbackFilter) => {
      return props.feedbacks.filter(filters[filter].callback).length;
    };

    const labelHandler = (filter: FeedbackFilter) => {
      return filters[filter].label + ' (' + countHandler(filter) + ')';
    };

    const filterHandler = (filter: FeedbackFilter) => {
      filteredFeedbacks.value = props.feedbacks.filter(
        filters[filter].callback
      );
      currentFilter.value = filter;
    };

    onMounted(() => {
      filterHandler('all');
    });

    return {
      filteredFeedbacks,
      feedbackFilters,
      filters,
      currentFilter,
      labelHandler,
      countHandler,
      filterHandler,
    };
  },
});
</script>

<style lang="scss" scoped>
@media screen and (max-width: $breakpoint-sm-min) {
  .product {
    &-card {
      border: none;
      padding: 0;
      border-radius: 0;
    }
  }
}
</style>
