<template>
  <q-card bordered flat class="q-pa-md">
    <div class="row">
      <div class="col-12 col-lg-6">
        <q-skeleton height="500px" square />
      </div>

      <div class="col-12 col-lg-6">
        <q-card-section>
          <q-skeleton type="text" class="text-subtitle1" />
          <q-skeleton type="text" width="50%" class="text-subtitle1" />
          <q-skeleton type="text" class="text-caption" />
        </q-card-section>
      </div>
    </div>
  </q-card>
</template>

<script>
export default {
  name: 'ProductSkeleton',
};
</script>

<style scoped></style>
