<template>
  <q-card flat class="q-pa-md q-mt-md-lg product-card">
    <div class="row q-col-gutter-md">
      <div class="col-12 col-lg-6">
        <q-carousel
          class="rounded-borders"
          :height="fullscreen ? undefined : $q.screen.gt.md ? '500px' : '300px'"
          animated
          infinite
          thumbnails
          arrows
          :fullscreen="fullscreen"
          :autoplay="autoplay"
          transition-prev="slide-right"
          transition-next="slide-left"
          v-model="imageSlide"
          @mouseenter="autoplay = false"
          @mouseleave="autoplay = true"
        >
          <q-carousel-slide
            v-for="image in images"
            :key="image.id"
            :name="image.id"
            :img-src="image.path"
          />
          <template v-slot:control>
            <q-carousel-control position="bottom-right" :offset="[18, 18]">
              <q-btn
                push
                round
                dense
                color="white"
                text-color="primary"
                :icon="fullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="fullscreen = !fullscreen"
              />
            </q-carousel-control>
          </template>
        </q-carousel>
      </div>
      <div class="col-12 col-lg-6">
        <div
          class="q-px-sm column full-height"
          :style="{ minHeight: $q.screen.gt.md ? '300px' : '250px' }"
        >
          <h6 class="text-bold q-mt-none q-mb-md">{{ name }}</h6>
          <div class="flex items-center">
            <div v-if="rate" class="row items-center">
              <div class="text-positive q-mr-sm text-body1">
                {{ rate }}
              </div>
              <q-rating
                :model-value="Number(rate) || 0"
                size="1rem"
                color="positive"
                icon="star_border"
                icon-selected="star"
                icon-half="star_half"
                readonly
              />
              <q-separator vertical class="q-mx-md" />
              <div class="text-body1">{{ feedbackCount || 0 }} đánh giá</div>
            </div>
            <div class="text-body1" v-else>Chưa có đánh giá</div>
            <q-separator vertical class="q-mx-md" />
            <div class="text-body1">{{ soldNumber || 0 }} đã bán</div>
          </div>
          <h4 class="text-positive q-my-sm q-my-md-md">
            {{ formatPrice(price) }}
          </h4>
          <div class="row q-gutter-sm items-center q-mb-lg">
            <QuantityInput
              :quantity="quantity"
              :max="countInStock"
              @increase="quantity++"
              @decrease="quantity--"
              @update:quantity="quantity = Number($event)"
            />
            <div class="text-body2">{{ countInStock }} sản phẩm có sẵn</div>
          </div>
          <div class="q-mt-auto gt-xs">
            <q-btn
              class="q-mr-md"
              label="Thêm vào giỏ hàng"
              color="primary"
              size="lg"
              icon="add_shopping_cart"
              outline
              square
              unelevated
              no-caps
              :loading="cartButtonLoading"
              @click="addItemToCart"
            />
            <q-btn
              label="Mua ngay"
              color="primary"
              size="lg"
              square
              unelevated
              no-caps
            />
          </div>
        </div>
      </div>
    </div>
  </q-card>

  <q-btn-group spread class="lt-sm fixed-bottom z-top">
    <q-btn
      class="q-py-md"
      color="orange"
      icon="add_shopping_cart"
      label="Thêm vào giỏ hàng"
      size="md"
      dense
      no-caps
      :loading="cartButtonLoading"
      @click="addItemToCart"
    />
    <q-btn
      class="q-py-md"
      color="positive"
      label="Mua ngay"
      size="md"
      dense
      no-caps
    />
  </q-btn-group>
</template>

<script lang="ts">
import { defineComponent, ref, watch, getCurrentInstance } from 'vue';
import { IProductImageRes } from 'src/interfaces/responses/product';
import numberUtils from 'src/utils/number';
import QuantityInput from 'src/components/products/QuantityInput.vue';
import { useAddToCart } from 'src/composables/useAddToCart';

export default defineComponent({
  name: 'ProductCard',
  components: { QuantityInput },
  props: {
    id: {
      required: true,
      type: Number,
    },
    name: {
      required: true,
      type: String,
    },
    rate: {
      type: String,
    },
    price: {
      required: true,
      type: Number,
    },
    images: {
      required: true,
      default: () => [],
      type: Array as () => Array<IProductImageRes>,
    },
    countInStock: {
      type: Number,
    },
    soldNumber: {
      type: Number,
    },
    feedbackCount: {
      type: Number,
    },
  },
  setup(props) {
    const imageSlide = ref(props.images[0].id);
    const quantity = ref(1);
    const { loading: cartButtonLoading, addItemToCart } = useAddToCart(
      quantity,
      props.id
    );

    watch(
      () => props.id,
      () => {
        const instance = getCurrentInstance();
        instance?.proxy?.$forceUpdate();
        quantity.value = 1;
        imageSlide.value = props.images[0].id;
      }
    );

    return {
      imageSlide,
      quantity,
      cartButtonLoading,
      autoplay: ref(true),
      fullscreen: ref(false),
      formatPrice: numberUtils.formatPriceWithCurrency,
      addItemToCart,
    };
  },
});
</script>

<style lang="scss" scoped>
@media screen and (max-width: $breakpoint-sm-min) {
  .product {
    &-card {
      border: none;
      padding: 0;
      border-radius: 0;
    }
  }
}
</style>
