<template>
  <q-card
    class="product full-height cursor-pointer"
    flat
    bordered
    @click="toDetailPage"
  >
    <CImg img-class="product-image" height="148px" :src="image" alt="" />
    <div class="q-pa-sm" style="min-height: 52px">
      <p class="ellipsis-2-lines q-ma-none" style="height: 42px">
        {{ name }}
      </p>
      <p class="text-bold product-price q-ma-none">
        {{ formatPrice(price) }}
      </p>
      <div v-if="rate || soldCount" class="q-mt-sm row q-gutter-col-y-md">
        <div v-if="rate" class="col-12 col-sm-6">
          <q-rating
            :model-value="rate"
            size="14px"
            color="warning"
            icon="star_border"
            icon-selected="star"
            icon-half="star_half"
            readonly
          />
        </div>
        <div v-if="soldCount" class="col-12 col-sm-6">
          <div class="text-caption text-bold text-right">
            Đã bán {{ soldCount }}
          </div>
        </div>
      </div>
    </div>
    <q-tooltip>{{ name }}</q-tooltip>
    <div class="product-btns">
      <q-btn
        size="sm"
        color="primary"
        icon="add_shopping_cart"
        class="product-btn q-mt-sm"
        unelevated
        @click.stop="addItemToCart"
      >
        <q-tooltip
          class="bg-primary"
          anchor="center left"
          self="center right"
          transition-show="scale"
          transition-hide="scale"
          >Thêm vào giỏ hàng
        </q-tooltip>
      </q-btn>
    </div>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import numberUtil from 'src/utils/number';
import routes from 'src/config/routes';
import CImg from 'components/common/CImg.vue';
import { useRouter } from 'vue-router';
import { useAddToCart } from 'src/composables/useAddToCart';

export default defineComponent({
  name: 'ProductItem',
  components: { CImg },
  props: {
    id: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
    soldCount: {
      type: Number,
      required: true,
    },
    rate: {
      type: Number,
    },
  },
  setup(props) {
    const router = useRouter();

    const { addItemToCart } = useAddToCart(ref(1), props.id);

    const toDetailPage = () => {
      return router.push({
        name: routes.productDetail.name,
        params: { id: props.id },
      });
    };

    return {
      routes,
      formatPrice: numberUtil.formatPriceWithCurrency,
      toDetailPage,
      addItemToCart,
    };
  },
});
</script>

<style lang="scss" scoped>
.product {
  position: relative;

  &-price {
    font-size: 16px;
  }

  &:deep(.product-image) {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &-btns {
    position: absolute;
    flex-direction: column;
    display: none;
    top: 97px;
    right: 10px;
  }

  &:hover > &-btns {
    display: flex;
  }

  &:hover {
    border-color: $primary;
  }
}
</style>
