<template>
  <div class="row">
    <q-btn
      icon="remove"
      color="grey"
      class="q-px-sm"
      unelevated
      square
      outline
      :disable="quantity <= 1"
      @click="decrease"
    />
    <q-input
      input-class="text-center"
      outlined
      dense
      square
      :model-value="quantity"
      style="width: 50px"
      @update:model-value="updateQuantity"
    />
    <q-btn
      icon="add"
      color="grey"
      class="q-px-sm"
      unelevated
      square
      outline
      @click="increase"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, watch } from 'vue';

export default defineComponent({
  name: 'QuantityInput',
  props: {
    quantity: {
      type: Number,
      required: true,
    },
    max: {
      type: Number,
    },
  },
  setup(props, context) {
    const increase = () => {
      context.emit('increase');
    };

    const decrease = () => {
      context.emit('decrease');
    };

    const updateQuantity = (event: string | number | null) => {
      context.emit('update:quantity', event);
    };

    watch(
      () => props.quantity,
      (newVal: unknown, oldVal: number) => {
        if (isNaN(Number(newVal))) {
          updateQuantity(Number(oldVal));
        }

        if (!!props.max && Number(newVal) > props.max) {
          updateQuantity(Number(props.max));
        }

        if (newVal === 0) {
          context.emit('remove');
        }
      }
    );

    return {
      increase,
      decrease,
      updateQuantity,
    };
  },
});
</script>
<style lang=""></style>
