<template>
  <q-card flat class="q-mt-lg product-card">
    <q-card-section :horizontal="$q.screen.gt.md" class="q-pa-none">
      <q-card-section
        class="flex items-center no-wrap"
        style="min-width: 300px"
      >
        <CAvatar :src="avatar" size="78" font-size="44px" />

        <div class="q-ml-md">
          <div class="text-body1 text-bold">
            {{ name }}
          </div>
          <div class="text-body2 text-grey">{{ role }}</div>
          <q-btn
            icon="home"
            color="positive"
            label="Xem shop"
            :to="{
              name: routes.shopDetail.name,
              params: { id: id },
            }"
            dense
            no-caps
            unelevated
          />
        </div>
      </q-card-section>

      <q-separator class="gt-md q-my-md" vertical />

      <q-card-section>
        <div class="row q-col-gutter-x-md">
          <div class="col-12 col-sm-6 col-md-4">
            Sản phẩm<span class="q-ml-sm text-positive">{{
              productCount || NO_INFO
            }}</span>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            Email<span class="q-ml-sm text-positive">{{ email }}</span>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            Địa chỉ<span class="q-ml-sm text-positive">{{
              address || NO_INFO
            }}</span>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            Tham gia<span class="q-ml-sm text-positive">{{
              formatDate(createdAt)
            }}</span>
          </div>
        </div>
      </q-card-section>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import routes from 'src/config/routes';
import dateTimeUtils from 'src/utils/date-time';
import CAvatar from 'components/common/CAvatar.vue';

export default defineComponent({
  name: 'ShopCard',
  components: { CAvatar },
  props: {
    id: {
      required: true,
      type: Number,
    },
    name: {
      required: true,
      type: String,
    },
    role: {
      required: true,
      type: String,
    },
    avatar: {
      type: String,
    },
    email: {
      required: true,
      type: String,
    },
    address: {
      type: String,
    },
    productCount: {
      type: Number,
    },
    createdAt: {
      required: true,
      type: String as PropType<Date | string>,
    },
  },
  setup() {
    const NO_INFO = 'Chưa có thông tin';

    return {
      NO_INFO,
      routes,
      formatDate: dateTimeUtils.formatDate,
    };
  },
});
</script>

<style lang="scss" scoped>
@media screen and (max-width: $breakpoint-sm-min) {
  .product {
    &-card {
      border: none;
      padding: 0;
      border-radius: 0;
    }
  }
}
</style>
