<!-- eslint-disable vue/no-reserved-component-names -->
<template>
  <q-footer class="bg-blue-grey-2 text-dark">
    <q-toolbar class="q-py-lg block">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <router-link :to="routes.home.path">
                <q-toolbar-title class="text-bold cursor-pointer">
                  <span class="text-positive">Smart</span>Agri
                </q-toolbar-title>
              </router-link>
            </div>

            <div class="col-12 col-md-4">
              <div class="text-bold">Về chúng tôi</div>
              <div>SmartAgri</div>
              <div>Chính sách & điều khoản</div>
              <div>Thanh toán</div>
              <div>Vận chuyển</div>
            </div>

            <div class="col-12 col-md-4">
              <div class="text-bold">Liên hệ</div>
              <div>
                B-11 D.S.I.D.C Complex,<br />F.I.E patparganj Industrial
                Area,<br />
                New Delhi , Delhi 110092 , 011 4242 0976
              </div>
            </div>
          </div>
        </div>
      </div>
    </q-toolbar>
  </q-footer>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import routes from 'src/config/routes';

export default defineComponent({
  // eslint-disable-next-line vue/no-reserved-component-names
  name: 'Footer',
  setup() {
    return {
      routes,
    };
  },
});
</script>
