<template>
  <q-header reveal>
    <q-toolbar class="q-py-sm bg-white block">
      <div class="container flex items-center justify-between">
        <router-link :to="routes.home.path">
          <q-toolbar-title class="text-bold text-dark cursor-pointer">
            <span class="text-positive">Smart</span>Agri
          </q-toolbar-title>
        </router-link>
        <q-form class="search q-mx-md" @submit="submitSearch">
          <q-input
            outlined
            dense
            class="gt-xs"
            placeholder="Tìm kiếm sản phẩm"
            :input-class="['text-bold', 'text-body-1']"
            :model-value="searchValue"
            @update:model-value="updateSearch"
          >
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
        </q-form>
        <div v-if="!isAuthen" class="flex justify-end">
          <q-btn
            :to="routes.login.path"
            color="primary"
            label="Đăng nhập"
            icon="login"
            no-caps
            unelevated
          />
        </div>
        <div v-else>
          <q-btn
            color="primary"
            icon="person_outline"
            class="q-mr-sm"
            unelevated
          >
            <UserMenu />
          </q-btn>
          <q-btn
            color="primary"
            icon="sym_o_shopping_cart"
            class="cart-btn"
            unelevated
          >
            <q-badge v-if="cartList.length > 0" color="red" floating rounded
              >{{ cartList.length }}
            </q-badge>
            <CartMenu :carts="cartList" />
          </q-btn>
        </div>
      </div>
      <q-form class="search" @submit="submitSearch">
        <q-input
          outlined
          dense
          class="q-mt-md lt-sm"
          placeholder="Tìm kiếm sản phẩm"
          :input-class="['text-bold', 'text-body-1']"
          :model-value="searchValue"
          @update:model-value="updateSearch"
        >
          <template v-slot:prepend>
            <q-icon name="search" />
          </template>
        </q-input>
      </q-form>
    </q-toolbar>
  </q-header>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

import routes from 'src/config/routes';
import { storeKey } from 'src/store';
import UserMenu from 'src/components/layout/UserMenu.vue';
import CartMenu from 'src/components/layout/CartMenu.vue';

export default defineComponent({
  // eslint-disable-next-line vue/no-reserved-component-names
  name: 'Header',
  components: { UserMenu, CartMenu },
  setup() {
    const $store = useStore(storeKey);
    const $router = useRouter();
    const searchValue = ref($store.state.product.query.name || '');
    const cartList = computed(() => $store.state.cart.carts);

    const isAuthen = computed<boolean>(() => $store.state.auth.isAuthen);

    const getCartList = async () => {
      try {
        // const res = await cartService.getList();
        // cartList.value = res.data;
        await $store.dispatch('cart/getCarts');
      } catch (e) {}
    };

    const submitSearch = () => {
      const name = searchValue.value.trim();
      if (!name) {
        $store.commit('product/clearNameQuery');
        return;
      }
      $store.commit('product/updateQuery', { name });

      $router.push({
        name: routes.products.name,
        query: { name },
      });
    };

    const updateSearch = ($event: string | number | null) => {
      if (!$event) {
        searchValue.value = '';
        return;
      }

      searchValue.value = String($event);
      return;
    };

    watch(searchValue, () => {
      if (searchValue.value.startsWith(' ')) searchValue.value = '';
    });

    $store.commit('auth/updateAuth');

    onMounted(async () => {
      if (isAuthen.value) {
        await getCartList();
      }
    });

    return {
      searchValue,
      isAuthen,
      routes,
      cartList,
      updateSearch,
      submitSearch,
    };
  },
});
</script>

<style lang="scss" scoped>
.search {
  flex: 1;
}
</style>
