<template>
  <q-menu anchor="bottom end" self="top end">
    <q-list v-if="carts.length > 0" style="width: 400px">
      <q-item>
        <q-item-section>
          <q-item-label class="text-grey-8 text-body2"
            >Sản phẩm mới thêm
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item
        v-for="cart in carts"
        :key="cart.id"
        clickable
        :to="{
          name: routes.productDetail.name,
          params: { id: cart.product_id },
        }"
        class="q-pl-lg"
      >
        <q-item-section top thumbnail>
          <CImg :src="cart.product.images[0].path" width="50px" height="100%">
            <template v-slot:error>
              <span
                class="absolute-full text-center flex flex-center bg-negative text-white"
              >
                No Image
              </span>
            </template>
          </CImg>
        </q-item-section>

        <q-item-section>
          <q-item-label class="ellipsis-2-lines"
            >{{ cart.product.name }}
          </q-item-label>
          <q-item-label caption>x{{ cart.quantity }}</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label class="text-bold"
            >{{ formatPrice(cart.product.price * cart.quantity) }}
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label class="text-right">
            <q-btn
              :to="routes.cart"
              label="Xem giỏ hàng"
              color="primary"
              unelevated
              no-caps
            ></q-btn>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <div v-else style="width: 400px" class="q-pa-lg column flex-center">
      <CImg src="/images/no-item.svg" alt="" width="100px" />
      <div class="text-center q-mt-md">Chưa có sản phẩm</div>
    </div>
  </q-menu>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import routes from 'src/config/routes';
import numberUtil from 'src/utils/number';
import { ICartRes } from 'src/interfaces/responses/cart';
import CImg from 'components/common/CImg.vue';

export default defineComponent({
  name: ' CartMenu',
  components: { CImg },
  props: {
    carts: {
      type: Array as () => Array<ICartRes>,
      required: true,
    },
  },
  setup() {
    return {
      routes,
      formatPrice: numberUtil.formatPriceWithCurrency,
    };
  },
});
</script>
