<template>
  <q-menu anchor="bottom end" self="top end">
    <q-list style="min-width: 200px">
      <q-item class="q-py-md">
        <q-item-section top avatar>
          <CAvatar :src="currentUser.avatar" />
        </q-item-section>

        <q-item-section>
          <q-item-label class="text-bold text-body1"
            >{{ fullName }}
          </q-item-label>
          <p class="q-ma-none text-grey-7 text-caption">
            {{ currentUser.role_name }}
          </p>
        </q-item-section>
      </q-item>

      <q-separator />

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="grey-8" name="o_edit" size="sm" />
        </q-item-section>

        <q-item-section>Chỉnh sửa tài khoản</q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="grey-8" name="o_category" size="sm" />
        </q-item-section>

        <q-item-section>Danh sách sản phẩm</q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="grey-8" name="o_grading" size="sm" />
        </q-item-section>

        <q-item-section>Danh sách sản phẩm</q-item-section>
      </q-item>

      <q-item clickable>
        <q-item-section avatar>
          <q-icon color="grey-8" name="o_grass" size="sm" />
        </q-item-section>

        <q-item-section>Danh sách cây</q-item-section>
      </q-item>

      <q-separator />

      <q-item class="text-negative" clickable @click="logout">
        <q-item-section avatar>
          <q-icon color="negative" name="logout" size="sm" />
        </q-item-section>

        <q-item-section>Đăng xuất</q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

import routes from 'src/config/routes';
import { storeKey } from 'src/store';
import CAvatar from 'components/common/CAvatar.vue';

export default defineComponent({
  name: ' UserMenu',
  components: { CAvatar },
  setup() {
    const $store = useStore(storeKey);
    const $router = useRouter();

    const isAuthen = computed<boolean>(() => $store.state.auth.isAuthen);
    const currentUser = computed(() => $store.state.auth.user);
    const fullName = computed(() => $store.getters['auth/getFullName']);

    const logout = () => {
      $store.dispatch('auth/logout');
      $router.push(routes.login);
    };

    onMounted(async () => {
      if (isAuthen.value) {
        await $store.dispatch('auth/getAccountInfo');
      }
    });

    return {
      isAuthen,
      currentUser,
      fullName,
      routes,
      logout,
    };
  },
});
</script>
