<template>
  <div
    class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 30vh">404</div>

      <div class="text-h2" style="opacity: 0.4">Không tìm thấy trang</div>

      <q-btn
        class="q-mt-xl"
        color="white"
        text-color="blue"
        unelevated
        :to="routes.home.path"
        label="Về trang chủ"
        no-caps
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import routes from 'src/config/routes';

export default defineComponent({
  name: 'ErrorNotFound',
  setup() {
    return {
      routes,
    };
  },
});
</script>
