<template>
  <q-page>
    <CategoryList></CategoryList>
    <HeroBanner class="q-mt-lg"></HeroBanner>
    <div>
      <ProductList
        title="Deal tốt hôm nay"
        link="/products?col=price&sort=ASC"
        v-if="goodDealProducts.length > 0"
      >
        <div
          v-for="product in goodDealProducts"
          :key="product.id"
          class="col-6 col-md-3"
        >
          <ProductItem
            :id="product.id"
            :name="product.name"
            :image="product.images[0] ? product.images[0].path : ''"
            :price="product.price"
            :category="product.category"
          />
        </div>
      </ProductList>
      <ProductList
        v-else
        title="Deal tốt hôm nay"
        link="/products?col=price&sort=ASC"
      >
        <div v-for="index in 4" :key="index" class="col-6 col-md-3">
          <ProductSkeleton />
        </div>
      </ProductList>
    </div>
    <div>
      <ProductList
        v-if="newProducts.length > 0"
        title="Sản phẩm mới"
        link="/products?col=created_at&sort=DESC"
      >
        <div
          v-for="product in newProducts"
          :key="product.id"
          class="col-6 col-md-3"
        >
          <ProductItem
            :id="product.id"
            :name="product.name"
            :image="product.images[0] ? product.images[0].path : ''"
            :price="product.price"
            :category="product.category"
          />
        </div>
      </ProductList>
      <ProductList
        v-else
        title="Sản phẩm mới"
        link="/products?col=created_at&sort=DESC"
      >
        <div v-for="index in 4" :key="index" class="col-6 col-md-3">
          <ProductSkeleton />
        </div>
      </ProductList>
    </div>
    <div>
      <ProductList v-if="hotProducts.length > 0" title="Sản phẩm bán chạy">
        <div
          v-for="product in hotProducts"
          :key="product.id"
          class="col-6 col-md-3"
        >
          <ProductItem
            :id="product.id"
            :name="product.name"
            :image="product.images[0] ? product.images[0].path : ''"
            :price="product.price"
            :category="product.category"
            :sold-past-week="product.sold_number_past_week"
          />
        </div>
      </ProductList>
      <ProductList v-else title="Sản phẩm bán chạy">
        <div v-for="index in 8" :key="index" class="col-6 col-md-3">
          <ProductSkeleton />
        </div>
      </ProductList>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';

import CategoryList from 'src/components/home/CategoryList.vue';
import HeroBanner from 'src/components/home/HeroBanner/index.vue';
import ProductList from 'src/components/home/ProductList';
import ProductItem from 'src/components/home/ProductList/ProductItem.vue';
import { IProductRes } from 'src/interfaces/responses/product';
import productService from 'src/services/product.service';
import ProductSkeleton from 'src/components/home/ProductList/ProductSkeleton.vue';

export default defineComponent({
  name: 'IndexPage',
  components: {
    CategoryList,
    HeroBanner,
    ProductList,
    ProductItem,
    ProductSkeleton,
  },
  setup() {
    const goodDealProducts = ref<IProductRes[]>([]);
    const newProducts = ref<IProductRes[]>([]);
    const hotProducts = ref<IProductRes[]>([]);

    const getGoodDealProducts = async () => {
      try {
        const res = await productService.getList({
          col: 'price',
          sort: 'ASC',
          limit: 4,
        });

        goodDealProducts.value = res.data;
      } catch (err) {}
    };

    const getNewProducts = async () => {
      try {
        const res = await productService.getList({
          col: 'created_at',
          sort: 'DESC',
          limit: 4,
        });
        newProducts.value = res.data;
      } catch (err) {}
    };

    const getHotProducts = async () => {
      try {
        const res = await productService.getTrendings();
        hotProducts.value = res.data;
      } catch (err) {}
    };

    onMounted(async () => {
      await Promise.all([
        getGoodDealProducts(),
        getNewProducts(),
        getHotProducts(),
      ]);
    });

    return {
      goodDealProducts,
      newProducts,
      hotProducts,
    };
  },
});
</script>
