<template>
  <q-layout
    class="bg-grey-4 flex flex-center q-px-md"
    style="min-height: 100vh; min-width: 100vw"
  >
    <q-card flat style="width: 620px; height: 440px; border-radius: 20px">
      <q-card-section class="full-height" horizontal>
        <CImg
          class="gt-xs"
          src="https://images.unsplash.com/photo-1501004318641-b39e6451bec6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbnR8ZW58MHx8MHx8&w=1000&q=80"
          height="100%"
          width="260px"
        >
          <div class="absolute-full text-subtitle2 flex transparent">
            <div class="q-pa-md text-dark">
              <router-link :to="routes.home.path">
                <h6 class="q-ma-none text-bold">
                  <span class="text-primary">Smart</span>Agri
                </h6>
              </router-link>
              <h2 class="q-ma-none text-bold">
                <span class="text-primary">Log</span>in
              </h2>
            </div>
          </div>
        </CImg>

        <q-card-actions class="column items-center q-pa-lg" style="flex: 1">
          <h6 class="q-my-md text-bold text-primary">Đăng nhập</h6>
          <LoginForm />
          <q-separator class="full-width q-my-lg" />
          <div class="text-center">
            Chưa có tài khoản?
            <br />
            <router-link :to="routes.register.path" class="text-primary"
              >Tạo tài khoản
            </router-link>
          </div>
        </q-card-actions>
      </q-card-section>
    </q-card>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import LoginForm from 'src/components/login/LoginForm.vue';
import routes from 'src/config/routes';
import CImg from 'components/common/CImg.vue';

export default defineComponent({
  name: 'Login',
  components: { CImg, LoginForm },
  setup() {
    return {
      routes,
    };
  },
});
</script>
