<template>
  <q-card flat bordered>
    <q-skeleton height="148px" />
    <div class="row justify-between q-pa-sm" style="min-height: 52px">
      <p class="q-ma-none col-8">
        <q-skeleton type="text" />
        <q-skeleton type="text" />
      </p>
      <p class="q-ml-sm col-3">
        <q-skeleton type="text" height="40px" />
      </p>
    </div>
  </q-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ProductSkeleton',
});
</script>
