<template>
  <div class="page-container">
    <div class="flex justify-between items-end">
      <SectionTitle :title="title" />
      <router-link v-if="!!link" :to="link"
        ><p class="text-primary">Xem thêm</p></router-link
      >
    </div>
    <div class="row q-col-gutter-x-lg q-col-gutter-y-md">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SectionTitle from '../SectionTitle.vue';

export default defineComponent({
  name: 'ProductList',
  components: { SectionTitle },
  props: {
    title: String,
    link: {
      type: [String, Object],
    },
  },
});
</script>
