<template>
  <q-card class="product cursor-pointer" flat bordered @click="toDetailPage">
    <CImg img-class="product-image" height="148px" :src="image" alt="" />
    <div
      class="flex justify-between items-center q-pa-sm"
      style="min-height: 52px"
    >
      <p class="ellipsis-2-lines product-name q-ma-none">
        {{ name }}
      </p>
      <p class="text-bold product-price q-ma-none">
        {{ formatPrice(price) }}
      </p>
    </div>
    <q-tooltip>{{ name }}</q-tooltip>
    <div class="product-btns">
      <q-btn
        size="sm"
        unelevated
        color="primary"
        icon="search"
        class="product-btn"
        @click.stop="toRelateList"
      >
        <q-tooltip
          class="bg-primary"
          anchor="center left"
          self="center right"
          transition-show="scale"
          transition-hide="scale"
          >Tìm kiếm sản phẩm tương tự
        </q-tooltip>
      </q-btn>
      <q-btn
        size="sm"
        color="primary"
        icon="add_shopping_cart"
        class="product-btn q-mt-sm"
        unelevated
        @click.stop="addItemToCart"
      >
        <q-tooltip
          class="bg-primary"
          anchor="center left"
          self="center right"
          transition-show="scale"
          transition-hide="scale"
          >Thêm vào giỏ hàng
        </q-tooltip>
      </q-btn>
    </div>
    <q-badge
      v-if="showSoldPastWeek"
      floating
      color="negative"
      :label="`Đã bán ${soldPastWeek || 0} trong tuần qua`"
    />
  </q-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import numberUtil from 'src/utils/number';
import routes from 'src/config/routes';
import CImg from 'components/common/CImg.vue';
import { useAddToCart } from 'src/composables/useAddToCart';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'ProductItem',
  components: { CImg },
  props: {
    id: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
    soldPastWeek: {
      type: Number,
    },
    category: {
      type: Number,
    },
  },
  setup(props) {
    const router = useRouter();
    const { addItemToCart } = useAddToCart(ref(1), props.id);

    const toDetailPage = () => {
      return router.push({
        name: routes.productDetail.name,
        params: { id: props.id },
      });
    };

    const toRelateList = () => {
      router.push({
        path: routes.products.path,
        query: { category: props.category },
      });
    };

    return {
      showSoldPastWeek: typeof props.soldPastWeek !== 'undefined',
      routes,
      formatPrice: numberUtil.formatPriceWithCurrency,
      addItemToCart,
      toDetailPage,
      toRelateList,
    };
  },
});
</script>

<style lang="scss" scoped>
.product {
  position: relative;

  &-name {
    flex: 1;
    font-weight: 300;
    font-size: 12px;
    margin-right: 8px;
  }

  &-price {
    font-size: 16px;
  }

  &:deep(.product-image) {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &-btns {
    position: absolute;
    flex-direction: column;
    display: none;
    bottom: 62px;
    right: 10px;
  }

  &:hover > &-btns {
    display: flex;
  }

  &:hover {
    border-color: $primary;
  }
}
</style>
