<template>
  <div class="page-container">
    <SectionTitle title="Danh mục sản phẩm" />

    <div class="row">
      <div
        class="q-mr-lg q-mb-md"
        v-for="category in categories"
        :key="category.id"
      >
        <CategoryItem
          :id="category.id"
          :name="category.name"
          :image="category.image"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import SectionTitle from './SectionTitle.vue';
import CategoryItem from './CategoryItem.vue';
import configCategories from 'src/config/categories';

export default defineComponent({
  name: 'CategoryList',
  components: {
    SectionTitle,
    CategoryItem,
  },
  setup() {
    const categories = configCategories.reverse();

    return {
      categories,
    };
  },
});
</script>
