<template>
  <router-link :to="{ name: routes.products.name, query: { category: id } }">
    <div style="height: 64px">
      <q-card class="category-card bg-grey-2" flat bordered>
        <q-card-section>
          <div class="ellipsis text-bold">{{ name }}</div>
        </q-card-section>

        <CImg :src="image" class="category-image" />
      </q-card>
    </div>
  </router-link>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import routes from 'src/config/routes';
import CImg from 'components/common/CImg.vue';

export default defineComponent({
  name: 'CategoryItem',
  components: { CImg },
  props: {
    id: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
  },
  setup() {
    return {
      routes,
    };
  },
});
</script>

<style lang="scss" scoped>
.category {
  &-card {
    border-color: $dark;
    padding-right: 60px;
  }

  &-image {
    position: absolute;
    right: -20px;
    width: 85px;
    top: 50%;
    transform: translateY(-50%);
    height: 150%;
    object-fit: cover;
  }
}
</style>
