<template>
  <div class="q-mt-lg q-mb-md home-title rounded-borders">
    <p class="text-bold q-pa-sm q-ma-none text-body1">{{ title }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SectionTitle',
  props: {
    title: String,
  },
});
</script>

<style lang="scss" scoped>
.home-title {
  background-image: url('/images/home/header-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
</style>
