// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import 'container';
@import 'utils';

body {
  font-family: 'Quicksand', sans-serif;
  color: $dark;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $dark;
}
