<template>
  <q-avatar
    :icon="!src ? 'person' : undefined"
    text-color="white"
    :color="!src ? color || randomColor() : undefined"
    :size="qAvatarSize"
    :style="{
      height: size + 'px',
      width: size + 'px',
    }"
  >
    <img v-if="src" :src="src" alt="avatar" />
  </q-avatar>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { randomColor } from 'src/utils/color';

defineProps({
  src: {
    type: String as PropType<string | null>,
    default: null,
    required: false,
  },
  size: {
    type: String,
  },
  color: {
    type: String,
    required: false,
  },
  qAvatarSize: {
    type: String as PropType<'xs' | 'sm' | 'md' | 'lg' | 'xl'>,
  },
});
</script>

<style scoped></style>
