<template>
  <q-img :src="src || errorSrc" fit="cover">
    <slot />
    <template #error>
      <img :src="errorSrc" alt="" style="object-fit: cover" />
    </template>
  </q-img>
</template>

<script setup lang="ts">
defineProps({
  src: {
    type: String,
    require: true,
  },
  errorSrc: {
    type: String,
    required: false,
    default: '/images/icons8-no-image-100.png',
  },
});
</script>
