<template>
  <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md full-width">
    <q-input
      filled
      class="q-ml-none"
      placeholder="Nhập email của bạn"
      name="email"
      v-model="email"
      lazy-rules
      :rules="[validate.required, validate.email]"
    />

    <q-input
      filled
      class="q-ml-none"
      placeholder="Nhập mật khẩu của bạn"
      name="password"
      type="password"
      v-model="password"
      lazy-rules
      :rules="[validate.required, validate.minMax(8, 16)]"
    />

    <div class="flex flex-center q-ml-none q-mt-lg">
      <q-btn
        unelevated
        label="Đăng nhập"
        type="submit"
        color="primary"
        no-caps
        :loading="loading"
        :disable="loading"
      />
    </div>
  </q-form>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

import notify from 'src/utils/notify';
import messages from 'src/config/messages';
import * as validate from 'src/utils/validate';
import routes from 'src/config/routes';
import { storeKey } from 'src/store';

export default defineComponent({
  name: 'LoginForm',
  setup() {
    const $router = useRouter();
    const $store = useStore(storeKey);

    const email = ref('');
    const password = ref('');
    const loading = ref(false);

    return {
      email,
      password,
      loading,
      validate,

      async onSubmit() {
        try {
          loading.value = true;
          await $store.dispatch('auth/login', {
            email: email.value,
            password: password.value,
          });

          notify.success(messages.login.success);
          await $router.push(routes.home);
        } catch (e) {
          notify.error(messages.login.failed);
        } finally {
          loading.value = false;
        }
      },

      onReset() {
        email.value = '';
        password.value = '';
        loading.value = false;
      },
    };
  },
});
</script>
