<template>
  <q-page>
    <ProductSkeleton class="q-mt-md-lg" v-if="!isProductFetched" />

    <ProductCard
      v-else
      :id="product.id"
      :name="product.name"
      :rate="product.rate"
      :price="product.price"
      :count-in-stock="product.count_in_stock"
      :images="product.images"
      :sold-number="product.sold_number"
      :feedback-count="feedbacks.length"
    />

    <!--    TODO: add address and product count-->
    <ShopCard
      v-if="isShopInfoFetched"
      :id="shopInfo.id"
      :name="shopInfo.first_name + ' ' + shopInfo.last_name"
      :role="shopInfo.role_name"
      :avatar="shopInfo.avatar"
      :email="shopInfo.email"
      :created-at="shopInfo.created_at"
    />

    <FeedbackCard
      v-if="isFeedbackFetched"
      :rate="product.rate"
      :feedbacks="feedbacks"
    />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, watch } from 'vue';
import { useRoute } from 'vue-router';

import { IProductRes } from 'src/interfaces/responses/product';
import { IUserInfoRes } from 'src/interfaces/responses/user';
import productService from 'src/services/product.service';
import userService from 'src/services/user.service';
import ProductSkeleton from 'src/components/products/ProductSkeleton.vue';
import ProductCard from 'src/components/products/ProductCard.vue';
import ShopCard from 'components/products/ShopCard.vue';
import { IProductFeedbackRes } from 'src/interfaces/responses/feedback';
import FeedbackCard from 'components/products/FeedbackCard.vue';

export default defineComponent({
  name: 'ProductDetail',
  components: { FeedbackCard, ShopCard, ProductCard, ProductSkeleton },
  setup() {
    const $route = useRoute();

    const product = ref({} as IProductRes);
    const isProductFetched = ref(false);
    const shopInfo = ref({} as IUserInfoRes);
    const isShopInfoFetched = ref(false);
    const feedbacks = ref([] as IProductFeedbackRes[]);
    const isFeedbackFetched = ref(false);

    const getProductDetail = async () => {
      try {
        const res = await productService.getDetail(+$route.params.id);
        product.value = res.data;
        isProductFetched.value = true;
      } catch (e) {}
    };

    const getShopInfo = async () => {
      try {
        const res = await userService.getUserInfo(product.value.user_id);
        shopInfo.value = res.data;
        isShopInfoFetched.value = true;
      } catch (e) {}
    };

    const getFeedbacks = async () => {
      try {
        const res = await productService.getFeedbacks(product.value.id);
        feedbacks.value = res.data;
        isFeedbackFetched.value = true;
      } catch (e) {}
    };

    const getData = async () => {
      await getProductDetail();
      await Promise.all([getShopInfo(), getFeedbacks()]);
    };

    watch(() => $route.params.id, getData);

    onMounted(async () => {
      await getData();
    });

    return {
      product,
      shopInfo,
      feedbacks,
      isProductFetched,
      isShopInfoFetched,
      isFeedbackFetched,
    };
  },
});
</script>
