<template>
  <q-page class="page-container">
    <div>
      <h6 class="text-body1 q-mb-sm">Bộ lọc và sắp xếp</h6>
      <div class="row q-gutter-sm">
        <q-select
          outlined
          dense
          clearable
          v-model="category"
          :options="categoryOptions"
          label="Danh mục"
          style="width: 250px"
        />
        <q-select
          outlined
          dense
          clearable
          v-model="sort"
          :options="sortOptions"
          label="Sắp xếp"
          style="width: 250px"
        />
      </div>
    </div>
    <div>
      <h6 class="text-body1 q-mb-sm">
        Kết quả tìm kiếm{{ query.name ? ` cho từ khóa "${query.name}"` : '' }}
      </h6>
      <div
        v-if="products.length > 0"
        class="row q-col-gutter-x-lg q-col-gutter-y-md"
      >
        <div
          v-for="product in products"
          :key="product.id"
          class="col-6 col-md-4 col-lg-3"
        >
          <ProductItem
            :id="product.id"
            :name="product.name"
            :price="product.price"
            :rate="Number(product.rate) || 0"
            :sold-count="product.sold_number || 0"
            :image="product.images[0].path"
          />
        </div>
      </div>
      <div v-else class="row q-col-gutter-x-lg q-col-gutter-y-md">
        <div v-for="index in 12" :key="index" class="col-6 col-md-3">
          <ProductSkeleton />
        </div>
      </div>
      <div class="q-mt-md flex flex-center">
        <q-pagination
          class="q-mt-md"
          v-model="activePage"
          :max="totalPage"
          :max-pages="5"
          ellipses
          direction-links
          gutter="1rem"
        />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref, watch, computed, onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import { IProductListQuery } from 'src/interfaces/requests/product';
import { toQSelectOptions } from 'src/helpers/select';
import categories from 'src/config/categories';
import { useStore } from 'vuex';
import { storeKey } from 'src/store';
import { IProductRes } from 'src/interfaces/responses/product';
import productService from 'src/services/product.service';
import ProductItem from 'src/components/products/ProductItem.vue';
import ProductSkeleton from 'src/components/home/ProductList/ProductSkeleton.vue';

export default defineComponent({
  name: 'ProductList',
  components: { ProductItem, ProductSkeleton },
  setup() {
    const $route = useRoute();
    const $router = useRouter();
    const $store = useStore(storeKey);

    const query = computed<IProductListQuery>({
      get: () => $store.state.product.query,
      set: (newVal: IProductListQuery) => {
        $store.commit('product/updateQuery', newVal);
      },
    });
    const activePage = computed({
      get: () => $store.state.product.query.page || 1,
      set: (newVal: number) => {
        $store.commit('product/updateQuery', { page: Number(newVal) });
      },
    });
    const totalPage = ref(0);
    const categoryOptions = toQSelectOptions(categories, 'name', 'id') as {
      value: number;
      label: string;
    }[];
    const category = ref<null | {
      value: number;
      label: string;
    }>(null);
    const sort = ref<null | {
      value: number;
      label: string;
    }>(null);
    const products = ref<IProductRes[]>([]);
    const sortOptions = [
      {
        value: 1,
        label: 'Giá thấp đến cao',
        col: 'price',
        sort: 'ASC',
      },
      {
        value: 2,
        label: 'Giá cao đến thấp',
        col: 'price',
        sort: 'DESC',
      },
      {
        value: 3,
        label: 'Ngày đăng mới đến cũ',
        col: 'created_at',
        sort: 'DESC',
      },
      {
        value: 4,
        label: 'Ngày đăng cũ đến mới',
        col: 'created_at',
        sort: 'ASC',
      },
    ];

    const clearSort = () => {
      $store.commit('product/clearSortQuery');
      $store.commit('product/clearColQuery');
    };

    const getProducts = async () => {
      try {
        products.value = [];
        const res = await productService.getList(query.value);
        products.value = res.data;
        totalPage.value = res.last_page;
      } catch (err) {}
    };

    watch(sort, () => {
      const sortOption = sortOptions.find(
        (option) => option.value === sort.value?.value
      );
      if (sortOption) {
        $store.commit('product/updateQuery', {
          col: sortOption.col,
          sort: sortOption.sort,
        });
        return;
      }

      clearSort();
    });

    watch(category, () => {
      if (category.value) {
        $store.commit('product/updateQuery', {
          category: category.value.value,
        });
        return;
      }

      $store.commit('product/clearCategoryQuery');
      return;
    });

    watch(
      query,
      async () => {
        await $router.replace({
          query: {
            category: query.value.category,
            col: query.value.col,
            sort: query.value.sort,
            name: query.value.name,
            page: query.value.page,
          },
        });
        await getProducts();
      },
      { deep: true, immediate: true }
    );

    onMounted(async () => {
      $store.commit('product/createQuery', {
        ...$route.query,
        page: Number($route.query.page) || undefined,
        category: Number($route.query.category) || undefined,
      });

      if (!query.value.name) {
        $store.commit('product/clearNameQuery');
      }

      if (query.value.col && query.value.sort) {
        const sortOption = sortOptions.find(
          (option) =>
            option.col === query.value.col && option.sort === query.value.sort
        );
        sort.value = !sortOption
          ? null
          : { value: sortOption.value, label: sortOption.label };
      } else {
        clearSort();
      }

      if (query.value.category) {
        category.value =
          categoryOptions.find(
            (option) => option.value === Number(query.value.category)
          ) || null;
      }
    });

    return {
      products,
      activePage,
      totalPage,
      query,
      category,
      sort,
      categoryOptions,
      sortOptions,
    };
  },
});
</script>
