<template>
  <q-layout view="lhh LpR lff" class="bg-grey-2" style="min-height: 100vh">
    <Header />

    <q-page-container class="container" style="padding-bottom: 300px">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import Header from './partials/Header.vue';

export default defineComponent({
  name: 'HeaderOnly',
  // eslint-disable-next-line vue/no-reserved-component-names
  components: { Header },
});
</script>
